<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="../../public/assets/css/burger_style.css" type="text/css" />
		<img src="../../public/img/burger.jpg" alt="burger.gif" />
		<title>Eat a burger</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</HTML>
